.gray-color{
 color: #D8D8D8 !important;
}

.gray-color-bg{
 background-color: #D8D8D8 !important;
}

.gray-color-border{
 border-color: #D8D8D8 !important;
}

.gray-lighter{
 color: #F3F3F3 !important;
}

.gray-lighter-bg{
 background-color: #F3F3F3 !important;
}

.gray-lighter-border{
 border-color: #F3F3F3 !important;
}

.brand-color-secondary{
 color: #f7f4ec !important;
}

.brand-color-secondary-bg{
 background-color: #f7f4ec !important;
}

.brand-color-secondary-border{
 border-color: #f7f4ec !important;
}

.darkar{
 color: #393939 !important;
}

.darkar-bg{
 background-color: #393939 !important;
}

.darkar-border{
 border-color: #393939 !important;
}

.dark-color-light{
 color: #7F7F7F !important;
}

.dark-color-light-bg{
 background-color: #7F7F7F !important;
}

.dark-color-light-border{
 border-color: #7F7F7F !important;
}

.gray-light{
 color: #E9E9E9 !important;
}

.gray-light-bg{
 background-color: #E9E9E9 !important;
}

.gray-light-border{
 border-color: #E9E9E9 !important;
}

.dark-color{
 color: #4A4A4A !important;
}

.dark-color-bg{
 background-color: #4A4A4A !important;
}

.dark-color-border{
 border-color: #4A4A4A !important;
}

.dark-color-lighter{
 color: #979797 !important;
}

.dark-color-lighter-bg{
 background-color: #979797 !important;
}

.dark-color-lighter-border{
 border-color: #979797 !important;
}

.gray-darkar{
 color: #C6C6C6 !important;
}

.gray-darkar-bg{
 background-color: #C6C6C6 !important;
}

.gray-darkar-border{
 border-color: #C6C6C6 !important;
}

.brand-color-primary{
 color: #3d472c !important;
}

.brand-color-primary-bg{
 background-color: #3d472c !important;
}

.brand-color-primary-border{
 border-color: #3d472c !important;
}

.ph-2kDRu{
 color: #3d472c !important;
}

.ph-2kDRu-bg{
 background-color: #3d472c !important;
}

.ph-2kDRu-border{
 border-color: #3d472c !important;
}

.ph-N7D3C{
 color: #ffffff !important;
}

.ph-N7D3C-bg{
 background-color: #ffffff !important;
}

.ph-N7D3C-border{
 border-color: #ffffff !important;
}

.ph-Uscy8{
 color: #000000 !important;
}

.ph-Uscy8-bg{
 background-color: #000000 !important;
}

.ph-Uscy8-border{
 border-color: #000000 !important;
}

